.container-button {
    height: 5.188rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    font-weight: bold;
    font-size: 38px;
    background-color: #1B1A17;
    color: #fff;
    border-radius: 1rem;
    border: 2px solid #fff;
    margin: .5rem;
    cursor: pointer;
    user-select: none;
}

.container-button:hover {
    background-color: #FE7E6D;
}

.operator {
    /* background-color: #00551b; */
    background-color: #1DB9C3;
}
 .operator:hover {
     background-color: #8479E1;
 }