.clear-button {
    height: 5rem;
    font-style: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #ac0246;
    margin-top: 0.5rem;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5rem;
    cursor: pointer;
}

.clear-button:hover {
    background-color: #ebb000;
}