.screen {
    height: 4.688rem;
    border-radius: 3.125rem;
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    background-color: #0a0a23;
    color: #fff;
    padding: 0.688rem 1.875rem 0.688rem 0.688rem;
    margin: 1px solid #888;
    box-shadow: -1px 4px 1px 1px #fff;
}